* {font-family: 'Times New Roman', Times, serif;}
h1{
    font-size: 100px;
    font-weight: 900;
}
ol{
    font-size: 24px;
    text-align: justify;
}
ul{
    font-size: 29px;

}
h1, h2 {
    font-size: 40px;
    text-align: center;
}
p{
   font-size: 30px;
}